body {
    background-color: #3a4b59;  
    margin: 0;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  article {
    border: 1px solid transparent;
    background-color: #bedcf3; 
    border-radius: 0.5rem;
    width: 400px;
    height: 400px;
  }

  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
  }
  
  p{
    text-align: center;
  }
  