.data {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cf7d43;
  border-radius: 5px;
  box-shadow: -3px 3px 3px 2px #ce7e45;
}

h3 {
  text-transform: uppercase;
}

.data-img {
  width: 175px;
}
.list-item-heart-wrapper {
  position: relative;
  top: 0;
  right: -70px;
  width: 22px;
}
