.data {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #cf7d43;
}

h3 {
  text-transform: uppercase;
}

.data-img {
  width: 175px;
}
